/* Global Styles */

h1, h2, h3 {
	font-family: 'Rubik', 700;
}

p{
	font-family: 'Rubik', sans-serif;
}

/* Font hierarchy */

h1{
	font-size: 3em;
}

h2{
	font-size: 2.25em;
}

h3{
	font-size: 1.75em;
}

p{
	color: #666666;
}

p{
	margin: 0 0 10px;
	display: block;

}

@media only screen and (max-width: 767px){

	h1{
		font-size: 2em;
	}

	h2{
		font-size: 1.625em;
	}

	h3{
		font-size: 1.375em;
	}
}

/* Navbar */

.navbar_ninocancer{
	background-color: #1cbac8;
	height: 100px;
	padding-top: 0px;
	color: hsla(0, 100%, 100%, 0.52);
}

.icon-bar{
	background-color: #fff;

}

.navbar-brand{
	padding: 0px 0px;
	margin-bottom: 0px;
}

.navbar-brand img{
	max-height: 100px;
	margin-top: 0px;
	padding-top: 0px;
}

.navbar-nav > li > a{
	color: #fff;
	text-shadow: none;
	text-transform: uppercase;
	padding-top: 80px;
}

.navbar-nav > li > a:hover{
	background-color: initial;
	color: hsla(0, 0%, 100%, .5);
}

.navbar{
	margin-bottom: 0;
}

/* Header */

.header_ninocancer{
	background-image: url("/Users/patricio/Desktop/PRUEBA1/assets/img/304872_cancerinfantil2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 500px;
	padding-top: 5%;
	margin-bottom: 2%;
	background-position: right bottom;
}

.header_ninocancer h1{
	color: #fff;
	font-size: 5em;
}

.header_ninocancer p{
	color: hsla(0, 0%, 100%, .8);
	line-height: 22px;
	padding: 1rem 20vw;
}

@media only screen and (min-width: 400px) and (max-width: 767px){

	.header_ninocancer{
		height: 500px;
		padding-top: 60px;
		background-position: center;
	}

	.header_ninocancer h1{
		font-size: 3em;
	}

	.header_ninocancer p{
	padding: 1rem 4rem;
	}

	.navbar-brand img{
	max-height: 50px;
	margin-top: 0px;
	padding-top: 0px;
	}

}

@media only screen and (min-width: 0px) and (max-width: 399px){

	.header_ninocancer{
		height: 300px;
		padding-top: 20px;
		background-position: center;
	}

	.header_ninocancer h1{
		font-size: 1.5em;
	}

	.header_ninocancer p{
	padding: 0.7rem 2rem;
	font-size: 0.9em;
	}

	.navbar-brand img{
	max-height: 40px;
	margin-top: 0px;
	padding-top: 0px;
	}

}

.container-fluid{
	padding-right: 3%;
    padding-left: 3%;
    margin-right: auto;
    margin-left: auto;
}